<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
	display:none;
}
#searchform {
	line-height: 30px;
	background-color: #eeeeee;
	width: 280px;
	float: left;
	padding: 5px;
	width: 280px;
}
#container {
    width:100%;
}

#dep {
    width:50%; 
	float:left;
    background-color:#eeeeee;
    padding:15px; 
		height:300px;   

}
#ret {
    width:50%; 
	float:left;
    background-color:#eeeeee;
    padding:15px; 
	height:300px;   

}

#meal {
    width:30%; 
	height:320px;   
	float:left;
    background-color:#eeeeee;
    padding:15px; 
}
#baggage {
    width:30%;
	height:320px;   
	float:left;
    background-color:#eeeeee;
    padding:15px;
}
#form {
    width:50%;
	float:left;
    background-color:#eeeeee;
    padding:15px; 
}

#bookingsummary {
    line-height:30px;
    background-color:#eeeeee;
    width:200px;
    float:right;
    padding:15px; 
}


#searchresults {
	float: left;
	padding: 10px;
	width: 900px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

#menu {
	//width: 1000px;
	height: 70px;
	font-size: 16px;
	font-family: Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #8AD9FF;
	border-radius: 8px;
	//margin-left: 20px;
	//margin-right: 20px;
}

#menu ul {
	
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    text-align: center;

}

#menu li { 
	display: inline; 
	text-align: center;
	padding: 20px; 
}


.logoname {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 100px;
}
.navbar{
    width: 100%;
    margin: 0 auto;
	background-color:#006;
}​

</style>
